<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href="/mediacard.css"/>
</head>
</head>
<div class="poster mediacard" style="position:relative">
  <div class="wrapper">
    <!--background poster-->
    <div class="background" style="background: url(<%=imageURL+media.poster_path%>) center/cover no-repeat;">
    </div>
    <!--data-->
    <div class="data">
      <div class="content">
        <span class="author">(<%=media.release_date.slice(0, 4)%>)</span>
        <h2 class="title"><%=media.title || media.name%>
        </h2>
        <p class="text" style="overflow: hidden;height: 5.5rem;"><%=media.overview%></p>
        <a href="/info/<%=media.title?'movie':'tv'%>/<%=media.id%>" class="button" style="text-decoration: none">....
          Read more</a>
      </div>
    </div>
  </div>

  <!--ratings-->
  <div style="width: 3.3rem;position: absolute;top:-1rem;right:-1rem;">
    <%-include("ratings")%>
  </div>
</div>


</html>