<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href="/card.css" />
</head>
<div class="poster card">
  <div class="wrapper">
    <div class="background" style="background: url(<%=imageURL+result.poster_path%>) center/cover no-repeat;">
    </div>
    <div class="header">
      <span class="menu-content"><%= result.vote_average %></span>
    </div>
    <div class="data">
      <div class="content">
        <span class="author"><%= result.release_date %> </span>
        <h1 class="title"><a href="#"><%= result.title %></a></h1>
        <p class="text"><%=result.overview%></p>
        <a href="#" class="button">Read more</a>
      </div>
    </div>
  </div>
</div>

</html>