<div class="p-0 container-fluid row" style="max-width: 1280px; height: 433px;margin: auto">
  <div class="p-0 m-0 col container-fluid order-1" style="height: 432px; width: 512px;">
    <div class="p-0 m-0 row bg-info"
         style="height: 288px; width: 512px;background-image: url(<%=imageURL+media[0].backdrop_path%>); background-size: contain ">
    </div>
    <div class="p-0 m-0 row container-fluid" style="height: 144px; width: 512px;">
      <div class="p-0 m-0 col bg-danger"
           style="height: 144px; width: 256px;background-image: url(<%=imageURL+media[1].backdrop_path%>); background-size: contain"></div>
      <div class="p-0 m-0 col bg-success"
           style="height: 144px; width: 256px;background-image: url(<%=imageURL+media[2].backdrop_path%>); background-size: contain"></div>
    </div>
  </div>
  <div class="p-0 m-0 col container-fluid order-3" style="height: 432px; width: 512px;">
    <div class="p-0 m-0 row container-fluid" style="height: 144px; width: 512px;">
      <div class="p-0 m-0 col bg-danger"
           style="height: 144px; width: 256px;background-image: url(<%=imageURL+media[6].backdrop_path%>); background-size: contain"></div>
      <div class="p-0 m-0 col bg-success"
           style="height: 144px; width: 256px;background-image: url(<%=imageURL+media[7].backdrop_path%>); background-size: contain"></div>
    </div>
    <div class="p-0 m-0 row bg-info"
         style="height: 288px; width: 512px;background-image: url(<%=imageURL+media[8].backdrop_path%>); background-size: contain">
    </div>
  </div>
  <div class="p-0 m-0 col container-fluid order-2" style="height: 432px; width: 256px;">
    <div class="p-0 m-0 row bg-light"
         style="height: 144px; width: 256px;background-image: url(<%=imageURL+media[3].backdrop_path%>); background-size: contain"></div>
    <div class="p-0 m-0 row bg-secondary"
         style="height: 144px; width: 256px;background-image: url(<%=imageURL+media[4].backdrop_path%>); background-size: contain"></div>
    <div class="p-0 m-0 row bg-warning"
         style="height: 144px; width: 256px;background-image: url(<%=imageURL+media[5].backdrop_path%>); background-size: contain"></div>
  </div>
</div>