<div>
  <nav aria-label="...">
    <ul class="pagination justify-content-center ">
      <% for(let i = -4;i < 5;i++){ %>
        <li class="page-item
          <% if(i == -4 || i == -3 ) { %>
        <%=(parseInt(pageid) == 1) ? " disabled" : null%>">
          <% if(i == -4) { %>
          <a class=" page-link " href="/<%=mediaType%>/<%=generalType%>/1"> First</a>
        </li>
        <% } else if(i == -3) { %>
        <a class=" page-link " href="/<%=mediaType%>/<%=generalType%>/<%=(parseInt(pageid) - 1)%>">Prev</a>
        </li>
        <% } } else if( i == 3 || i == 4) { %>
        <%=(parseInt(pageid) == pages) ? " disabled" : null%>">
        <% if(i == 3) { %>
        <a class=" page-link " href="/<%=mediaType%>/<%=generalType%>/<%=(parseInt(pageid) + 1)%>">Next</a>
        </li>
        <% } else if(i == 4) { %>
        <a class=" page-link " href="/<%=mediaType%>/<%=generalType%>/<%=parseInt(pages)%>">Last</a>
        </li>
        <% } } else { %>
        <%=(parseInt(pageid + i) == pageid) ? " active" : null%>">
        <% if((pageid + i) >= 1 && (pageid + i) <= pages) { %>
        <a class=" page-link " href="/<%=mediaType%>/<%=generalType%>/<%=(parseInt(pageid) + i)%>">
          <%=(pageid + i)%>
        </a>
        </li>
      <% } } } %>
    </ul>
  </nav>
</div>